

.index {
    .custom-colomn {
        line-height: 40px;

        input[type="text"] {
            width: 300px;
        }
    }

    
}
.GymSchedule {
        input[type="text"], button , ul {
            width: 300px;
        }
    }