/* https://listify-demos.astoundify.com/classic/ */
.shade-heading {
  color: #717A8F; }

.shade-small-heading {
  color: #ABACB6; }

.shade-text {
  color: #ABACB6; }

/* Menu start */
/*do not down main menu height you can up it  cause logo will not align properly */
#main-manu {
  width: 100%;
  height: 80px;
  box-sizing: border-box;
  clear: both;
  background: #ffffff;
  display: flex;
  position: relative;
  z-index: 2; }
  #main-manu .menu-active {
    background-color: #444444 !important;
    color: #ffffff !important; }
  #main-manu .logo-wrapper {
    padding: 0px;
    width: 400px;
    height: 80px;
    box-sizing: border-box; }
    #main-manu .logo-wrapper .logo-container {
      max-width: 280px;
      width: 100%;
      height: 80px;
      margin: 0px auto; }
      #main-manu .logo-wrapper .logo-container img {
        min-width: 0px;
        max-width: inherit;
        width: 100%;
        position: relative;
        top: 50%;
        transform: translateY(-50%); }
  #main-manu .menu-wrapper {
    flex-grow: 1;
    height: 80px;
    width: auto;
    text-align: center;
    box-sizing: border-box; }
    #main-manu .menu-wrapper .menu-container {
      min-width: 600px;
      max-width: 700px;
      width: 100%;
      height: 80px;
      background-color: #ffffff;
      display: flex;
      box-sizing: border-box;
      margin: 0 auto; }
      #main-manu .menu-wrapper .menu-container .Li {
        background-color: #ffffff;
        flex: 1;
        box-sizing: border-box;
        /*border-left: 1px solid black;*/
        line-height: 80px; }
        #main-manu .menu-wrapper .menu-container .Li a {
          display: block;
          text-decoration: none;
          color: #444444; }
          #main-manu .menu-wrapper .menu-container .Li a:hover {
            background-color: #444444;
            color: #ffffff; }
        #main-manu .menu-wrapper .menu-container .Li:first-child {
          border: none; }
        #main-manu .menu-wrapper .menu-container .Li:last-child a {
          height: 80px;
          border-radius: initial;
          padding: 0px;
          height: 80px;
          line-height: 80px;
          border: none; }
  #main-manu .small-menu {
    display: none;
    height: 50px;
    background-color: #717A8F;
    float: right;
    cursor: pointer;
    text-align: center;
    clear: both;
    width: 100%; }
    #main-manu .small-menu .small-menu-logo {
      flex-grow: 1; }
      #main-manu .small-menu .small-menu-logo img {
        min-width: 50px;
        max-width: 70px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        margin-left: 10px; }
    #main-manu .small-menu span {
      font-size: 30px;
      line-height: 50px;
      font-size: 35px;
      color: #F9F9F9;
      width: 60px; }

@media (max-width: 992px) {
  #main-manu {
    display: inline-block;
    height: auto; }
    #main-manu .logo-wrapper {
      width: 100%;
      clear: both; }
    #main-manu .menu-wrapper {
      clear: both; }
      #main-manu .menu-wrapper .menu-container {
        width: 100%; }
        #main-manu .menu-wrapper .menu-container .Li {
          border: none; }
          #main-manu .menu-wrapper .menu-container .Li:last-child {
            display: none; } }
@media (max-width: 768px) {
  #main-manu {
    height: 50px;
    background: #717A8F; }
    #main-manu .logo-wrapper {
      display: none; }
    #main-manu .menu-wrapper {
      height: auto;
      display: none; }
      #main-manu .menu-wrapper .menu-container {
        display: inline-block;
        max-width: 100%;
        min-width: 100%;
        height: auto; }
        #main-manu .menu-wrapper .menu-container .Li {
          border: none;
          /*border-bottom: 1px solid black;*/
          height: 50px;
          line-height: 50px; }
          #main-manu .menu-wrapper .menu-container .Li:first-child {
            /*border-bottom: 1px solid black;*/ }
          #main-manu .menu-wrapper .menu-container .Li:last-child {
            border: none; }
    #main-manu .small-menu {
      display: flex; }

  /* Logo */ }

/*# sourceMappingURL=menu.css.map */
