A2ZGymSolution/A2ZGymSolution/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
A2ZGymSolution/A2ZGymSolution/Web.config
A2ZGymSolution/A2ZGymSolution.v11.suo
*.suo
A2ZGymSolution/A2ZGymSolution/obj/Debug/A2ZGymSolution.csproj.FileListAbsolute.txt
*.txt
A2ZGymSolution/A2ZGymSolution/obj/Debug/A2ZGymSolution.csprojResolveAssemblyReference.cache