<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <connectionStrings>
    <add name="GYM" connectionString="server=182.50.133.109;database=GYM;user id=gym;password=zaptas123"/>
  </connectionStrings>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="FromEmailAddress" value="a2zgyminfo@gmail.com"/>
    <add key="FromEmailDisplayName" value="A2Z GYM"/>
    <add key="FromEmailPassword" value="a2zgym@123"/>
    <add key="SMTPHost" value="smtp-proxy.tm.net.my"/>
    <add key="SMTPPort" value="smptp Port"/>
  </appSettings>
  
  
</configuration>
