

@import "../../../css/theme.scss";

.setfix {
    margin: 0px;
    padding: 0px;
}




#profile {
    /* USER PROFILE PAGE */
    .sidemenu {
        width: 100%;
        height: auto;
        background-color: $shade-9;
        text-align: center;

        h4 {
            color: $shade-8;
        }
    }

    #exTab1 .tab-content {
        color: white;
        background-color: #428bca;
        padding: 5px 15px;
    }

    #exTab2 h3 {
        color: white;
        background-color: #428bca;
        padding: 5px 15px;
    }
    /* remove border radius for the tab */
    #exTab1 .nav-pills > li > a {
        border-radius: 0;
    }
    /* change border radius for the tab , apply corners on top*/
    #exTab3 .nav-pills > li > a {
        border-radius: 4px 4px 0 0;
    }

    #exTab3 .tab-content {
        color: white;
        background-color: #428bca;
        padding: 5px 15px;
    }







    .card {
        margin-top: 20px;
        padding: 30px;
        background-color: rgba(214, 224, 226, 0.2);
        -webkit-border-top-left-radius: 5px;
        -moz-border-top-left-radius: 5px;
        border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -moz-border-top-right-radius: 5px;
        border-top-right-radius: 5px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;

        &.hovercard {
            position: relative;
            padding-top: 0;
            overflow: hidden;
            text-align: center;
            background-color: #fff;
            background-color: rgba(255, 255, 255, 1);

            .card-background {
                height: 130px;
            }
        }
    }

    .card-background img {
        -webkit-filter: blur(25px);
        -moz-filter: blur(25px);
        -o-filter: blur(25px);
        -ms-filter: blur(25px);
        filter: blur(25px);
        margin-left: -100px;
        margin-top: -200px;
        min-width: 130%;
    }

    .card.hovercard {
        .useravatar {
            position: absolute;
            top: 15px;
            left: 0;
            right: 0;

            img {
                width: 100px;
                height: 100px;
                max-width: 100px;
                max-height: 100px;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                border-radius: 50%;
                border: 5px solid rgba(255, 255, 255, 0.5);
            }
        }

        .card-info {
            position: absolute;
            bottom: 14px;
            left: 0;
            right: 0;

            .card-title {
                padding: 0 5px;
                font-size: 20px;
                line-height: 1;
                color: #262626;
                background-color: rgba(255, 255, 255, 0.1);
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                border-radius: 4px;
            }

            overflow: hidden;
            font-size: 12px;
            line-height: 20px;
            color: #737373;
            text-overflow: ellipsis;
        }

        .bottom {
            padding: 0 20px;
            margin-bottom: 17px;
        }
    }

    .btn-pref .btn {
        -webkit-border-radius: 0 !important;
    }
}
